.link-badge {
  -moz-border-radius: 10px;
  -moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
  background: #f03d25;
  /* IE9 doesn't support background gradients combined with border-radius. Sigh. */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f06067', endColorstr='#c70103'); */
  background: -webkit-gradient(linear, left top, left bottom, from(#f06067), to(#c70103));
  background: -moz-linear-gradient(top,  #f06067,  #c70103);
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
  color: #fff;
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  line-height: 1.0em;
  margin: -1em 0 0 0;
  padding: 2px 4px 3px 4px;
  position: absolute;
  right: -1.5em; /* LTR */
  text-shadow: 1px 1px 0 #bb0000;
}
.link-badge-badge-wrapper {
  position: relative;
}
